body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u169 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u171 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:0px;
  top:274px;
  width:375px;
  height:208px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  position:absolute;
  left:-8px;
  top:618px;
  width:97px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
