body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u246 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u248 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:168px;
  top:208px;
  width:148px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u250 {
  position:absolute;
  left:15px;
  top:208px;
  width:150px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u251 {
  position:absolute;
  left:0px;
  top:17px;
  width:50px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
