body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u274 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u276 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:187px;
  top:182px;
  width:129px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u278 {
  position:absolute;
  left:56px;
  top:182px;
  width:130px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u279 {
  position:absolute;
  left:0px;
  top:20px;
  width:48px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
