body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u112 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u113 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u114 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:19px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:100px;
  top:538px;
  width:176px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  position:absolute;
  left:145px;
  top:600px;
  width:86px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:295px;
}
#u118 {
  position:absolute;
  left:50px;
  top:182px;
  width:275px;
  height:295px;
}
#u119 {
  position:absolute;
  left:2px;
  top:140px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:91px;
  top:471px;
  width:187px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
