body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u123 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u125 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:19px;
  width:48px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:0px;
  top:614px;
  width:375px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:316px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:295px;
}
#u129 {
  position:absolute;
  left:50px;
  top:229px;
  width:275px;
  height:295px;
}
#u130 {
  position:absolute;
  left:2px;
  top:140px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:92px;
  top:534px;
  width:187px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
