body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:7269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:7270px;
  height:3897px;
}
#u137 {
  position:absolute;
  left:2px;
  top:1940px;
  width:7266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u138 {
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:667px;
}
#u139 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:91px;
  top:470px;
  width:187px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  position:absolute;
  left:86px;
  top:586px;
  width:202px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  position:absolute;
  left:86px;
  top:520px;
  width:202px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
